.btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.register-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
