.login-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.login-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-user {
  padding: 30px;
  border-radius: 10px;
  margin: auto;
  text-align: center;
}
.current-user img {
  border-radius: 20px;
}
